body {
    font-family: 'Bree Serif', serif;
    background-color:#C14040  ;
}
.navbar{
    color:#C14040 ;
    border-radius: 25px;
    background-color: #EFE3E3;
    padding:1.5rem;
    margin: 0 1.5rem;
}
.navbar-brand a {
    color:#C14040 ;
}
.nav-link {
    color:#C14040 ;
    font-size :1.5rem;
}
.character-title {
    text-align:center;
    color:#fff ;
}
.character-card {
    background-color:#982C2C ;
    border-radius: 50px;
    margin: 2rem 0;
    padding: 2rem;
}
h3.character-card {
    background-color:#EFE3E3 ;
}
.col {
margin: 2rem;
flex-grow: 1;
flex-shrink: 1;
}

